git+https://github.com/youesky/pyrogram
# --- For-Bot-Working --------- #
pyrofork==2.3.38
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
